[Unit]
Description=rtptun for wireguard
After=network.target
Conflicts=ctunnel.service udp2raw.service

[Service]
User=[TODO_SET_USER_HERE]
EnvironmentFile=/opt/wgcap/wgcap_service.conf
WorkingDirectory=/tmp
ExecStart=rtptun client -v -k ${RTPTUN_KEY} -l 3333 -d ${SERVER_IP} -p 5004
Type=simple
Restart=always
RestartSec=5

# [Install]
# WantedBy=multi-user.target
