[Unit]
Description=udp2raw for wireguard
After=network.target
Conflicts=ctunnel.service rtptun.service

[Service]
WorkingDirectory=/tmp
EnvironmentFile=/opt/wgcap/wgcap_service.conf
ExecStart=udp2raw -c -l0.0.0.0:3333 -r${SERVER_IP}:5005 -k ${UDP2RAW_PSK} --raw-mode faketcp -a
Type=simple
Restart=always
RestartSec=5

# [Install]
# WantedBy=multi-user.target
